@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --color-primary: black;
	--color-secondary: white; 
	--color-accent: rgb(68, 68, 68); 

    --font-family: 'Roboto', sans-serif;
	--font-size-title: 2em;
}

/* Styling */ 
h1, p, h2 {
    color: var(--color-primary);
    font-family: var(--font-family);
}

body {
	overflow-x: hidden; 
	margin: 0; 
	padding: 0; 
}

section {
	height: 100vh; 
	background-color: rgb(255,240,219);
}

section:first-of-type {
	display: flex; 
	justify-content: center;
	align-items: center; 
}

section:first-of-type h1 {
	font-size: 3em;
	color: #1d1d1d;
}

#theme_switch {
	border: none; 
	border-radius: 99em;
	padding: 0;
	position: fixed; 
	top: 2em; 
	right: 2em;
	background-color: var(--color-secondary);
	width: 5em; 
	height: 2.5em;
}

#theme_switch span {
	border-radius: 99em;
	background-color: var(--color-accent); 
	height: 2em; 
	width: 2em; 
	display: block; 
}

.dark_theme {
	--color-primary: blue;
}

/* hybrid section */ 
.hybrid_section {
	position: relative; 
	background-color: rgb(255,240,219);
}

.sticky_container {
	position: sticky; 
	height: 100vh; 
	width: 100%; 
	top: 0;
	overflow: hidden; 
}

.scroll_horizontal {
	position: absolute; 
	will-change: transform; 
	height: 100%; 
	display: flex; 
	flex-direction: row;
	justify-content: space-between;
}

.scroll_content {
	height: 100%; 
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.scroll_content path {
	transition: stroke-dashoffset 0.05s linear;
}

/* Leerdoelen */ 
.leerdoel {
	display: flex; 
	flex-direction: column; 
	width: 100vw;
	height: 100vh; 
	justify-content: center;
	align-items: center;
	position: relative; 
}



.leerdoel:nth-child(3) p:last-of-type {
	position: absolute; 
	bottom: 1em; 
	right: 2em; 
}

/* .scroll_content:nth-of-type(1) {
	background-color: red;
}

.scroll_content:nth-of-type(2) {
	background-color: blue;
} */






body > div:nth-of-type(2) {
	height: 300vh;
}

.container_scroll {
	height: 100vh;
	position: sticky; 
	top: 0; 
	overflow: hidden;  
	width: 100%;
}

.horizontal_scroll {	
	position: absolute; 
	top: 0; 
	will-change: transform;
	height: 100%;  
	display: flex; 
	align-items: center;
	/* width: 500vw; /* met svg kan deze weg */
	/* background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%); */
}

/* .scroll_content {
	height: 100%; 
	width: 100vw;
} */
path {
	stroke: var(--color-primary);
}